.home {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  text-align: center;
}

.home h1 {
  font-family: Indie Flower, "sans-serif";
  font-size: 2.5rem;
  color: #fff;
  margin-top: 1rem;
}

.home p {
  color: #edc6c7;
}

.text {
  font-family: Poppins, "sans-serif";
  font-size: 1rem;
  margin-bottom: 0.8rem;
  margin-top: 1rem;
}
span.separator {
  display: flex;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  width: 90vw;
  height: 2px;
  background-color: #fff;
}
