.slideshow {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  display: flex;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-size: 10px;
  width: 14px;
  height: 14px;
  border-radius: 16px;
  aspect-ratio: 1;
  border-radius: 32px;
  background-color: rgba(10, 4, 56, 0.5);
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
}

button:hover {
  background-color: rgba(10, 4, 56, 0.5);
}

.prevButton {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.nextButton {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.slides {
  margin: 0 auto;
  width: 100%;
}
